@import '../../../../global/globalCssVariables';

.anchorItem {
  cursor: pointer;
  padding: 10px;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:hover {
    background-color: $anchor-hover-background-color;
  }

  &.selected {
    background-color: $selected-color;
    &:hover {
      background-color: darken($selected-color, 20);
    }
  }
  .anchorPreview {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .anchorPreview-image {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .anchorPreview-text {
      border-radius: 2px;
      // color: blue;
      font-weight: bold;
      font-size: 1rem;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      // text-decoration: underline;
      width: fit-content;
    }
  }
}
