@import '../../global/globalCssVariables';

.node {
  height: 100%;
  display: flex;
  justify-content: space-around;

  .nodeProperties {
    position: relative;
    height: 100%;
    z-index: 4;
    width: 15vw;
    background-color: $primary-background-color;
  }

  .nodeView {
    height: 100%;
    width: 50vw;

    .nodeView-json {
      background-color: $selected-color;
      overflow: hidden;
      font-size: 12px;
      padding: 20px;
    }

    .nodeView-scrollable {
      position: relative;
      height: 100%;
      background-color: white;
      border-radius: 0 0 10px 10px;
      overflow-y: auto;

      .nodeView-breadcrumb {
        display: flex;
        padding: 10px;
        justify-content: left;
        align-items: center;
        border-bottom: $standard-border;
        padding-left: 20px;
      }

      .nodeView-content {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
      }
    }
  }
}

.nodeView-scrollable::-webkit-scrollbar-thumb {
  background-color: red;
  border: 4px solid transparent;
  border-radius: 0 0 8px 8px;
  background-clip: padding-box;
}
.nodeView-scrollable::-webkit-scrollbar {
  width: 16px;
}
