@import '../../../../../../../global/globalCssVariables';

.imageContent-preview {
  box-shadow: $image-shadow;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  img {
    padding: 0;
    width: 100%;
    object-fit: cover;
  }
}

.imageContent-wrapper {
  box-shadow: $image-shadow;
  overflow: hidden;
  position: relative;
  height: 300px;
  width: fit-content;
  object-fit: cover;

  .image-anchor {
    background-color: $image-anchor;
    position: absolute;

    &.selected {
      position: absolute;
      background-color: $image-anchor-selected;
    }
  }

  .selection {
    position: absolute;
    border: dotted black 3px;
    // background-color: $selected-color;
    background-color: #d7ecff48;

    .selection-close {
      cursor: pointer;
      position: absolute;
      background-color: pink;
      right: 0;
    }
  }

  .anchor {
    position: absolute;
    background-color: $selected-color;
  }

  img {
    padding: 0;
    height: 300px;
    object-fit: cover;
  }
}

.crop {
  border: solid 1px black;
  overflow: hidden;
  img {
    padding: 0;
    height: 300px;
    object-fit: cover;
  }
}
