@import '../../global/globalCssVariables';

.main-container {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;

  .content {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    top: $header-height;
    position: absolute;
    overflow-y: scroll;

    .treeView-container {
      max-width: 480;
      min-width: 100;
    }

    .divider {
      width: 3px;
      background-color: $secondary-background-color;
      cursor: ew-resize;
      transition: 0.05s;

      &:hover {
        width: 10px;
      }
    }

    .node-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
