@import '../../../../global/globalCssVariables';
.ivt-item {
  font-family: 'Roboto';
  background-color: $secondary-background-color;
  color: $primary-text-color;
  font-family: $header-font;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  justify-content: space-between;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 7px;
}

.left-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .user-name {
    margin-left: 10px;
  }
}

.emphasis {
  font-style: italic;
  font-weight: bold;
  max-width: 100px;
  overflow-x: hidden;
  display: inline;
}

.right-bar {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}
